  
body{
    background-color: rgb(248, 247, 255);

}
.pro-button{
    border-radius: 0;
}
.pro-alert{
    font-weight: 500;
    border-radius: 0;
    border: 1px;
}
.proj-alert{
    margin-left: 19vh;
}

.pro-alet1{
    margin-top: -26px;
    padding-top: -22px;
    padding-bottom: 32px;
}
.pr-due{
    color: grey;
    margin-top: -9px;
    margin-bottom: 12px;
    font-size: 15px;
}







.container1{
    width: 380px;
    min-height: 250px;
    background-color: #fff;
    float: left;
    border: 1px solid;
   border-color: rgb(211, 208, 208);
   float: left;
   margin-left: 3vh;
}
.icon-plus{
    float: left;
    padding-left: 4px;
    font-size: 26px;
}
.add-icon-txt{
    float: left;
    padding-left: 6px;
    font-weight: 500;
}
.bbar .progress{
    height: 10px;
 }

 .pr-info:hover{
     background-color: rgb(211, 209, 209);
 }
 .border-top:hover{
    background-color: rgb(211, 209, 209);

 }

 .container1 .alert{
    margin-bottom: 1px;
   height: 30px;
   line-height:30px;
   padding:0px 15px;
   text-align: start;
 }
 .add-tasak .alert{
     margin-top: 30px;
     margin-bottom: 30px;
     width: 160px;
     margin-right: 5px;
     font-size: 10px;
 }