.container-element{
   max-width: 300px;
   height: 300px;
   background-color: aqua;
   margin-left: 200px;

}


.container-element{
    width: 200px;
    height: 200px;
    background-color: black;
    margin-left: 200px;
 
 }

 .col h4{
    margin-right: 49vh;
    margin-top: 4vh;
}

.up-text{
   float: left;
   padding-left: 20px;
   color: grey;
}

.up-right{
    float: right;
    padding-right: 20px;
    color: blue;
 }
 .tasks{
     height: 60px;
 }
 .task-date{
    float: left;
    font-size: 44px;
    color: blue;
    padding-left: 17px;
    
 }
 .task-month{
    float: left;
    margin-top: 11px;
    font-weight: bold;
 }
 .task-year{
    float: left;
    margin-top: 30px;
    margin-left: -40px;
    color: grey;
 }
 .vertical {
    border-left: 1px solid rgb(211, 208, 208);
    height: 53px;
    position: relative;
    left: 28%;
    margin-top: 9px;
    
}
.horizondal{
    border-top: 1px solid rgb(211, 208, 208);
    margin-top: 22px;
    margin-right: 132px;
}
.tag-div{
   float: left;
    margin-left: 145px;
    margin-top: -86px;
}

.body{
   background-color: #fff;
   overflow: hidden;
   overflow-y: scroll;
   height: 300px;
}
.recent-profile{
   height: 65px;
   width: 65px;
   background-color: coral;
   border-radius: 100%;
   margin-top: -25px
}
.tag-div1{
   float: left;
    margin-left: 83px;
    margin-top: -47px;
}
.tasks1{
   height: 75px;
    margin-top: 17px;
}

.upcoming{
   min-height: 85px;
  padding: 10px;

}

.recent{
   min-height: 300px;
   background-color: blueviolet;
}






.row2 progress{
   margin-top: 10px;
   height: 8px;
   width: 93%;
   margin-left: 16px;

}
.alert{
   margin-bottom: 1px;
   margin: 15px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
  text-align: start;
}
.row2 {
   min-height: 50px;
   min-width: 50px;
   padding: 10px;
   margin: 10px;
   margin-top: 0px;
   background-color: #fff;
   border-radius: 5px;
   border: 1px solid;
   border-color: rgb(211, 208, 208);
}
.row1{
   margin-top: 15px;
   margin-bottom: 15px;

   
}

.heading{
   display: inline-block;
   margin-top: -46px;
}
.heading2{
   display: inline-block;
   margin-top: -46px;
   margin-left: 77vh;
}

.container{
   padding: 40px;
}

.create-btn{
   float: right;
}