#tm{
    /* margin-left: -83px; */
    font-weight: bolder;
    float: left;
}
.icon{
    font-size: 22px;
    margin: 9px;
    margin-bottom: 0;
}

.navname{
    border: 1px solid;
    border-color: rgb(211, 208, 208);
}

#pop{
    height: 62px;
    width: 122px;
    margin-left: 238vh;
    margin-top: 127px;
    position: absolute;
    z-index: 10;
    border: 1px solid;
    border-color: rgb(211, 208, 208);
    background-color: #fff;
    border-radius: 3px;
}

.open-box{
    margin: 10px;
    font-size: 28px;
    margin-top: 16px;

}