

.sidebar{
    height: 610px;
    width: 200px;
    padding-top: 70px;
    padding-left: 20px;
    position: relative;
    background-color: rgb(231, 231, 231);
}

.sidebar h6{
    position: absolute;
    align-items: flex-start;
  
}