

.sidebar{
    /* height: 610px;
    background-color: #fff;
    border: 1px solid rgb(211, 208, 208);
    float: left; */
    background-color: #fff;
    border: 1px solid rgb(211, 208, 208);
    min-height: 610px;
    margin-top: -28px;
    margin-left: -12px;
    padding-top: 23px;
}

.side-summary{
    margin-top: 28px;
}

.side-project{
    padding-right: 28px;
    padding-top: 10px;

}

.side-icon{
    float: right;
    margin-right: 10px;
}